<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Preguntas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form method="post" th:action="@{/preguntas/enviar}">
		<div th:each="p: ${preguntas}">
			<h4 th:text="${p.texto}"></h4>
			<div th:each="r: ${p.respuestas}" class="respuestas">

				<input th:text="${r.texto}" th:value=${r.id} type="radio"
					th:name="${p.id}">
			</div>

		</div>

		<button>Comprobar resultados</button>
	</form>
</body>
</html>