:root{
    --color-principal:#838314;
    --color-secundario:#aeae2d;
    --color-tinta:#35360b;
    --padding: 0.5rem;
    --color-tinta-menu:white;
}

section{
    padding: var(--padding);
}

header{
    background-image: url("../imagenes/fondo_encabezado.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: cover;
}
a{
    text-decoration: none;
    color:var(--color-vinculo);
}

header ul{
    text-align: right;
}

header ul li{
    list-style-position: inside;
    display: inline-block;
    background-color:var(--color-principal);
    color: var(--color-tinta);
}

nav{
    
    background-color:var(--color-principal);
    padding: var(--padding);
    
    padding-right: calc(var(--padding)*4);
}
nav ul li{
    list-style-position: inside;
    display: inline-block;
    color: var(--color-tinta);
    text-align: right;
    padding: var(--padding);
}

nav ul li:nth-of-type(4){
    float: right;
}

nav a{
    color: var(--color-tinta-menu);
    padding: var(pad);
    margin: var(--padding);
}

nav li:hover{
    background-color: var(--color-secundario);
}

main section li{
    list-style-position: inside;
    display: inline-block;
}

#carrousel ul{
    background-color: var(--color-secundario);
    padding: calc(var(--padding)/2);
}

#carrousel {
    padding-top: 0;
}

#carrousel img{
    width: 100%;
    
}

#carrousel ul li a{
    color: var(--color-tinta-menu);
}

footer{
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aeae2d;

}

#flogo{
    vertical-align: top;
}

footer section ul li{
    list-style-position: inside;
    display: inline-block;
}

footer{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: 
     "borde borde borde"
     "menu logo info";
}

#fborder{
    grid-area: borde;
    background-color: var(--color-principal);
    height: 1rem;
    width: 100%;
}

#fmenu{
    grid-area: menu;    
}

#flogo{
    grid-area: logo;
    margin-top: 0;
}

#finfo{
    grid-area: info;
}





