<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de inmuebles</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="p-2">



	<h1 class="bg-primary text-light">Inmobiliaria IparHouse</h1>
	<div class="row">

		<div id="seccion-izquierda" class="col">
			<!-- Busqueda por nombre o por dirección -->
			<form class="row g-3" th:action="@{/inmuebles/busqueda}">
				<fieldset class="border p-2 m-1">
					<legend class="float-none w-auto p-2">Buscar por nombre o
						por dirección</legend>
					<div class="input-group mb-3">
						<input type="text" class="form-control" name="busqueda"
							placeholder="Buscar por nombre o dirección">
						<div class="input-group-append">
							<button type="submit" class="btn btn-primary">Buscar</button>
						</div>
					</div>
				</fieldset>
			</form>
			<div class="row">
				<div>

					<!--Seccion de elección de tipos (Toadas, venta o alquiler) -->
					<fieldset class="border p-2 m-1">
						<legend class="float-none w-auto p-2">Filtro de tipo</legend>
						<div class="d-flex">
							<div>
								<a class="btn btn-primary m-1" th:href="@{/inmuebles}">Todos</a>
							</div>
							<div th:each="t: ${tipos}">
								<div>
									<a class="btn btn-primary m-1"
										th:href="@{/inmuebles/tipo?tipoId=}+ ${t.id}"
										th:text="${t.nombre}">Tipo</a>
								</div>
							</div>
						</div>
					</fieldset>
					<div>
						<fieldset class="border p-2 m-1">
							<legend class="float-none w-auto p-2">Filtro por rango</legend>


							<form class="row g-3" th:action="@{/inmuebles/rango}">

								<div class="col-auto">
									<input type="number" class="form-control" name="min"
										placeholder="Min" required>
								</div>
								<div class="col-auto">
									<input type="number" class="form-control" name="max"
										placeholder="Max" required>
								</div>
								<div class="col-auto">
									<button class="btn btn-primary mb-3">Filtrar</button>
								</div>
							</form>
						</fieldset>
					</div>
					<fieldset class="border p-2 m-1">
						<legend class="float-none w-auto p-2">Listado</legend>
						<div class="row">

							<div class="card m-2" style="width: 18rem;"
								th:each="i: ${inmuebles}">
								<img th:src="|${i.imagen}?${i.id}|" class="card-img-top">
								<div class="card-body">
									<h5 class="card-title" th:text="${i.nombre}">Nombre</h5>
									<p class="card-text" th:text="${i.direccion}">Direccion</p>
									<span class="card-text" th:text="${i.tipo.nombre}">Tipo</span>:
									€<span class="card-text" th:text="${i.precio}">Precio</span> <br>
									<a th:href="@{/inmuebles/detalle/} + ${i.id}"
										class="btn btn-primary">Ver Detalle</a>
								</div>
							</div>
						</div>

					</fieldset>
				</div>

				<a class="btn btn-primary" th:href="@{/inmuebles/admin/formulario}">Añadir nuevo inmueble</a>
			</div>
		</div>
		<div id="seccion-derecha" class="col">

			<span th:text="${alerta}"></span>
			<div th:if="${inmueble.id != null}">
				<img th:src="|${inmueble.imagen}?${inmueble.id}|">

				<h3 th:text="${inmueble.id}">Id</h3>
				<h4 th:text="${inmueble.nombre}">Id</h4>
				<span class="card-text" th:text="${inmueble.tipo.nombre}">Tipo</span>:
				€<span class="card-text" th:text="${inmueble.precio}">Precio</span>

			</div>
		</div>
	</div>


</body>
</html>