<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tienda</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="includes/cabecera :: navbar">  </div>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Stock</th>
				<th>Categoria</th>
				<th>Opciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p :${productos}">

				<th th:text="${p.id}"></th>
				<td th:text="${p.nombre}"></td>
				<td th:text="${p.precio}"></td>
				<td th:text="${p.stock}"></td>
				<td th:text="${p.categoria.nombre}"></td>
				<td><a th:href="@{/admin/productos/borrar/}+ ${p.id}">Borrar</a></td>
			</tr>
		</tbody>
	</table>

</body>
</html>