:root{
    --color-tinta:black;

}

header h1{
    display: none;
}

body > nav{
    background-color: var(--color-tinta);
    text-align: center;
    padding: .5rem;
}

body>nav a{
    color: wheat;
    padding: 0.5rem;
    text-decoration: none;
}

body>nav a:hover{
    background-color:white;
    text-decoration: none;
    color: var(--color-tinta);
}

body>nav li{
    display: inline-block;
}